.card{
    padding: 1rem;
    margin: 1rem;

    width: 16rem;
    height: 2rem;

    background-color: rgb(37,37,37);

    font-size: small;
    font-weight: 600;
    color: white;

    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}


.card a{
    text-decoration: none;
    color:rgb(204,204,204)
}
.card a:hover{
    text-decoration: underline;
}
.card-arrow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
}
.card-arrow div{
    width: 4px;
    height: 4px;
    background: rgb(204,204,204);
    border-radius: 100%;
}

.card-arrow-right{
    align-self: flex-end;
}