.add-sentence-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: rgb(30,30,30);

    border: 1px solid red;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

@media (min-width: 500px) {
    .add-sentence-form{
        width: 30%;
        margin-top: 8rem;
        margin-bottom: 2rem;
    }
    
}

.add-sentence-form__text-display{
    max-width: 400px;
    overflow-wrap: break-word;
}


.add-sentence-form__input-group{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    display: block;
}

.add-sentence-form__input-title{
    color: rgb(75,75,75);
    font-weight: 600;
}

.add-sentence-form__input{
    margin-top: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0.75rem;
    background-color: rgb(220,220,220);
    border: none;
    border-radius: 1.5rem;
    color: rgb(75,75,75);
    font-size: 1.25rem;
    width: 100%;
}

.add-sentence-form__textarea{
    margin-top: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    width: 100%;
    padding: 0.75rem;
    background-color: rgb(220,220,220);
    border: none;
    border-radius: 1.5rem;
    color: rgb(75,75,75);
    font-size: 1.25rem;
}

.add-sentence-form__select{
    color: rgb(75,75,75);
    border: 1px solid rgb(75,75,75);;
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
}
