@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family: Raleway;
  color: black;
}

button, input[type="submit"]{
  margin: 0 1rem;
  background-color: rgb(30,30,30);
  height: 2.5rem;

  font-size: large;
  font-weight: 500;
  color:rgb(204,204,204);
  text-align: center;
  vertical-align: middle;
  border: 0.2rem solid rgb(204,204,204);
  border-radius: 10rem;
}

button:disabled{
  color:rgb(60,60,60);
  border: 0.2rem solid rgb(60,60,60);
}

a {
  text-decoration: none;
}